body				{background: #999;}

#page-wrap:after 	{content: "Wide Layout";}

div {
    margin-left:30px; 
}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }

nav					{float: left; width: 15%; height: 200px;}
nav span				{margin: 0px 100px 0px 0px;}
section				{float: right; width: 80%; height: 200px;}
footer				{clear: both; display: block;}